.BlurBack{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: map-get($map:$colors, $key: 'bgBlur');
    backdrop-filter: blur(350px);
    z-index: -1;
}
.bgCont{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}
.circle{
    // filter: blur(300px);
    position: fixed;
    border-radius: 100%;
    z-index: -2;
}