.bannerPlusCopyContainer {
    width: 200px;
    // height: fit-content;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 20px;
    padding: 20px;
    @include flex(row, center, space-between, flex-end, wrap);
    animation-name: apear2;
    animation-duration: 0.3s;
}

.bannerContClub {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}

.codeAndDesCont {
    width: 100%;
    @include flex(row, center, space-between, center, wrap);

    & h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    & button {
        margin: 0px;
        width: 100%;

        & img {
            // width: 10px;
            height: 20px;
            width: auto;
            margin-left: 20px;
        }
    }
}

.chatContainer {
    @include flex(row, space-between, space-between, flex-end, wrap);
    width: 700px;
    height: 640px;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 40px;
    animation-name: apear2;
    animation-duration: 0.3s;
}

.MessageInput {
    height: 20px;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 2px solid map-get($map: $colors, $key: 'font');
    transition: 0.2s;
    padding: 10px 2.5%;
    font-size: 15px;

    &:focus {
        border-bottom: 2px solid map-get($map: $colors, $key: 'complement1');
        outline: none;
    }
}

.sendButton {
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }

    height: 35px;
    width: 35px;
}

.formForChats {
    width: 100%;
    @include flex(row, center, space-between, center, wrap);
}

.none {
    display: none;
}

.allFormCont {
    height: 40px;
    width: 100%;
    padding: 20px 25px 20px;
    // background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 0px 0px 40px 40px;
    @include flex(row, flex-end, space-between, flex-end, wrap);
    // overflow: hidden;
}

.contForFiles {
    backdrop-filter: blur(5px);
    margin-bottom: 40px;
    width: 100%;
    height: 200px;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 20px;
    overflow: hidden;
    animation-name: apearExample;
    animation-duration: 0.2s;
    border: none;
    transition: 0.2s;

    & img {
        transition: 0.2s;
    }

    &::after {
        display: none;
        left: 40%;
        top: -60%;
        position: relative;
        color: map-get($map: $colors, $key: 'error');
        font-size: 25px;
        font-weight: 600;
        content: 'Delete file';
    }

    &:hover {
        cursor: pointer;

        &::after {
            display: block;
        }

        & img {
            filter: blur(4px);
            opacity: 0.2;
        }
    }
}

.contForFilesEvt {
    animation-name: apearExample2;
    margin: 20px 0px 0px 0px;
    z-index: 100;
}

.errorCont {
    backdrop-filter: blur(3px);
    margin: -70px 20px;
    background-color: map-get($map: $colors, $key: 'error');
    width: fit-content;
    height: 20px;
    padding: 10px 20px;
    border-radius: 0px 20px 20px 20px;
    animation-name: apearError;
    animation-duration: 0.2s;
    z-index: 100;

    & h3 {
        color: white !important;
    }
}

@keyframes apearError {
    0% {
        margin-left: -10px;
        opacity: 0;
    }

    100% {
        margin-left: 20px;
        opacity: 1;
    }
}

@keyframes apearExample {
    0% {
        margin-bottom: -10px;
        opacity: 0;
    }

    100% {
        margin-bottom: 20px;
        opacity: 1;
    }
}

@keyframes apearExample2 {
    0% {
        margin-top: 10px;
        opacity: 0;
    }

    100% {
        margin-top: 20px;
        opacity: 1;
    }
}

@keyframes apearLateral {
    0% {
        margin-left: 20px;
        margin-right: 30px;
        opacity: 0;
    }

    100% {
        margin-right: 10px;
        margin-left: 0px;
        opacity: 1;
    }
}

.notImgFileCont {
    // height: 80%;
    // width: auto;
    width: 100px;
    height: 100px;
    padding: 50px;
    transform: translate(0%, 0%);
}

.msgCont {
    width: 100%;
    overflow: hidden;
    height: 510px;
    padding: 20px 25px;

    & .messCont {
        height: 100%;
        width: 100%;
        overflow: auto;
        rotate: 180deg;
        @include flex(column, normal, normal, flex-end, nowrap);

    }
}

.mess {
    max-width: 70%;

    margin-right: 10px;
    background-color: map-get($map: $colors, $key: 'chatMessageOther');
    rotate: 180deg;
    padding: 10px 20px;
    border-radius: 5px 20px 20px 20px;
}

.oneH {
    height: 94%;
}

.messInfo {
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 10px;
}

.logo {

    rotate: 180deg;
    width: 30px;
    height: 30px;
    border-radius: 20px;

    &:hover{
        cursor: pointer;
    }
}

.allMessageCont {
    animation-name: apearLateral;
    animation-duration: 0.3s;
    margin-bottom: 30px;
    margin-right: 10px;
    @include flex(row-reverse, normal, normal, flex-end, nowrap);
}

.textMessage {
    font-size: 15px;
    font-weight: 100;
}

.imgUploadedByUser {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.downLoadButton {
    @include flex(row, center, center, center, nowrap);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    font-size: 15px;
    transition: 0.3s;

    & img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: map-get($map: $colors, $key: 'bgBlackHover');
        color: map-get($map: $colors, $key: 'complement1');
    }
}

.otherSender {
    flex-direction: row;
    margin-right: 0px;
    align-self: flex-start;

    & .mess {
        background-color: map-get($map: $colors, $key: 'chatMessageOwn');
        margin: 0px;
        margin-left: 10px;
        border-radius: 20px 5px 20px 20px;
    }

    & .messEvents {
        margin: 0px;
        background-color: black;
    }

}

.chatContainerGeneral {
    @extend .chatContainer;
    width: 80vw;
}

.messInfoEvents {
    color: map-get($map: $colors, $key: 'complement1');
}

.messEvents {
    margin: 0px;
    border-radius: 20px;
    background-color: black;
    max-width: 100%;
}

.eventAllCont {
    transform: translate(-50%, 0%);
    left: 50%;
    position: relative;
    top: 100px;
    max-width: 1000px;
}

.clubBannerEvents {
    padding: 2% 2%;
    width: 96%;
    height: 160px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contAllLessBanner {
    margin-top: 20px;
    @include flex(row, normal, space-between, flex-start, nowrap);
}

.chatContainerEvt {
    background: none;
    height: auto;
}

.allFormContEvt {
    height: fit-content;
    margin: 0px 0px 20px 0px;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 20px;
}

.msgContEvt {
    padding: 0px;
    height: auto;
}

.messEvents {
    width: 100%;
}

.allMessageContEvt {
    margin: 20px 0px 0px 0px;
    // margin-top: 20px;
    animation-duration: 0s;
    width: 100%;

    & .mess {
        border-radius: 20px;
    }
}
.xplusTitle{
    @include flex(row, normal, space-between, flex-start, nowrap);
}
.cardTitleUSer{
    font-weight: 200;
    color: map-get($map: $colors, $key: 'complement1');

}
.h1UserInfo{
    margin-bottom: 10px;
}