.exBut {
    margin-left: 10px;
    margin-right: 0px;
    border: solid 1px map-get($map: $colors, $key: 'bgBlur');
    height: 40px;
    width: 40px;
    background-color: map-get($map: $colors, $key: 'complement2BgHover');
    border-radius: 0px;

    &:hover {
        background-color: map-get($map: $colors, $key: 'complement2BgHover');

    }

    &:active {
        background-color: map-get($map: $colors, $key: 'bgBlur');
    }

    & img {
        transform: rotate(45deg);
    }
}
.gardesTableContainer {
    background-color: map-get($map: $colors, $key: 'bgBlackHover');
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    animation-duration: 0.3s;
    animation-name: apear2;
    width: 60vw;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    & .tableInCont {
        overflow: auto;
        max-height: 60vh;
        width: 100%;

        & table {
            width: 100%;
        }
    }

}

.butonsTableCont {
    // width: 60vw;
    @include flex(row, center, space-between, flex-end, wrap);

    & button {
        margin-top: 20px;
    }

}

.inputForTable, .butLine {
    border-bottom: 1px solid map-get($map: $colors, $key: 'complement1');
}

.h2InGradesTable {
    margin: 10px 0px;
    font-size: 20px;
}

.prinInTale {
    color: map-get($map: $colors, $key: 'complement1');
}
.lesOpp{
    display: none;
}
.h3InTable{
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 100;
}

.loadingContTable{
    @include flex(column, center, center, center, wrap);
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    z-index: 100;
    & div{
        height: 140px;
        position: absolute;
        align-self: center;
        @include flex(column, center, center, center, wrap);
    }
}
.clubWithOutMembers{
    width: 100%;
    text-align: center;
    font-weight: 200;
}
.thDelete{
    width: 51px;
}
.NameFilterInput{
    @extend .inputText;
    padding: 5px 2.5%;
    width: 95%;
    border-radius: 40px;
    height: 30px;
    border: solid 1px map-get($map: $colors, $key: 'complement3');
    margin-bottom: 10px;
}
.mNone{
    margin: 0px;
}