.plusButton {
    @extend .logoCont;
    margin-left: 0px;
    margin-right: 20px;
}

.espPlusButton {
    position: fixed;
    right: 0px;
    top: 25px;
    z-index: 100;
}

.plusExecut {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.BgNoColor {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.miniNavHome {
    backdrop-filter: blur(10px);
    width: 100px;
    height: auto;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 20px;
    position: fixed;

    top: 60px;
    right: 60px;

    animation-name: apear2;
    animation-duration: 0.2s;
    @include flex(column, center, space-between, flex-start, wrap);
    padding: 10px;

}

@keyframes apear2 {
    0% {
        margin-right: -10px;
        margin-top: -10px;
        opacity: 0;
    }

    100% {
        margin: 0px;
        opacity: 1;
    }
}

@keyframes apearCard {
    0% {
        margin-top: 0px;
        opacity: 0;
    }

    100% {
        margin-top: 30px;
        opacity: 1;
    }
}

.AddClubLink {
    text-decoration: none;
    transition: color 0.2s;

    &:active {
        color: map-get($map: $colors, $key: 'complement1');
    }
}

.Fr {
    padding-bottom: 10px;
    border-bottom: 1px solid map-get($map: $colors, $key: 'font');
}

.Sc {
    padding-top: 10px;
}

.clubCard {
    animation-name: apearCard;
    animation-duration: 0.3s;
    width: 250px;
    height: 250px;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    padding: 10px;
    border-radius: 20px;
    @include flex(column, center, space-between, flex-start, wrap);
    margin: 30px;
}

.imgCardConatiner {
    overflow: hidden;
    border-radius: 15px;
    height: 100px;
    width: 100%;
    border: none;
    transition: 0.3s;

    & img {
        transition: 0.3s,
    }

    &::after {
        content: 'Get in';
        color: map-get($map: $colors, $key: 'complement1');
        font-weight: 500;
        font-size: 15px;
        margin: auto;
        bottom: 60%;
        left: 42%;
        position: relative;
        opacity: 0;
        transition: 0.3s;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        & img {
            opacity: 0.5;
            filter: blur(5px);
        }

        &::after {
            opacity: 1;
        }

        cursor: pointer;
    }
}

.DelExi {
    @extend .getIn;
    margin-top: 10px;
    background-color: map-get($map: $colors, $key: 'errorBg');

    &:active {
        color: map-get($map: $colors, $key: 'font');
    }
}

.textInCard {
    @include flex(column, flex-start, center, flex-start, wrap);
    height: 150px;
    width: 100%;
}

.green {
    color: map-get($map: $colors, $key: 'green');
}

.blue {
    color: map-get($map: $colors, $key: 'blue');
}

.pInCard {
    font-size: 10px;
    margin-top: 10px;
    height: 70px;
    overflow: auto;
}

.clubListHomeContainer {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 90vw;
    @include flex(row, flex-start, flex-start, flex-start, wrap);
}

.blubCardTitle {
    height: 30px;
    overflow: hidden;
    width: fit-content;
}

.noH3 {
    font-weight: 200;
    font-size: 20px;
}

.empty {
    width: 200px;
}

.getInJoin {
    margin: 0px;
    @extend .getIn;
    font-weight: 200;
    background-color: map-get($map: $colors, $key: 'complement2Bg');

    &:hover {
        background-color: map-get($map: $colors, $key: 'complement1');
        color: black;
    }
}

.getInCreate {
    margin: 0px;
    margin-left: 10px;
    @extend .getIn;
    font-weight: 200;
}

.EmptyMsg {
    animation-name: apear;
    animation-duration: 0.3s;
    padding-top: 140px;
    width: 100%;
    height: 100%;
    @include flex(row, center, center, center, wrap);
}

.linksEmp {
    margin-top: 20px;
    width: 100%;
    @include flex(row, center, space-between, center, wrap);
}

.allEmptCont {
    @include flex(column, center, center, center, wrap);
}