.LogInNav {
    top: 20px;
    position: fixed;
    width: 100%;
    height: 50px;
    @include flex(row, center, flex-end, center, wrap)
}

.logoLogin {
    margin: 20px;
    animation-name: apear;
    animation-duration: 0.3s;
    width: 350px;
}

.Log {
    width: 99%;
    min-height: 100vh;
    @include flex(row, center, space-evenly, center, wrap)
}

.formLogin {
    animation-name: apear;
    animation-duration: 0.3s;
    margin: 20px;
    width: 400px;
    height: 450px;
    background-color: map-get($map: $colors, $key: 'bgBlack');
    border-radius: 40px;
    padding: 40px;
    @include flex(column, normal, space-between, normal, wrap)
}

.h1LogCards {
    letter-spacing: 5px;
    font-size: 40px;
}

.inputText {
    width: 90%;
    font-size: 15px;
    background-color: map-get($map: $colors, $key: 'complementBg');
    padding: 10px 5%;
    border: none;
    border-bottom: 1px solid map-get($map: $colors, $key: 'complement1');
    transition: 0.2s;
    font-weight: 200;

    &:focus {
        background-color: map-get($map: $colors, $key: 'complement2Bg');
        outline: none;
    }
}

.inputIdentify {
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    & div{
        font-weight: 100;
        color: map-get($map: $colors, $key: 'complement1');
        margin-left: 10px;
    }
}

.logInButton {
    background-color: map-get($map: $colors, $key: 'complement2Bg');

    &:hover {
        background-color: map-get($map: $colors, $key: 'complement2BgHover');
    }

    &:active {
        color: black;
    }

    &:disabled {
        background-color: map-get($map: $colors, $key: 'complementBg');
        color: map-get($map: $colors, $key: 'fontDis');
        cursor: auto;
    }
}

.thirButton {
    margin-top: 5px;
    color: map-get($map: $colors, $key: 'complement3');
    text-decoration: none;
    font-size: 15px;
    align-self: flex-end;

    &:active {

        color: map-get($map: $colors, $key: 'complement2');
    }
}

.sectionFormCont {
    @include flex(column, normal, space-between, normal, wrap)
}

.errorAnoun {
    font-weight: 100;
    font-size: 15px;
    color: map-get($map: $colors, $key: 'error');
    height: 0px;
}

//================================Loading
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingCont {
    width: 400px;
    height: 450px;
    position: absolute;
    margin: 20px;
    padding: 40px;
    backdrop-filter: blur(10px);
}
//=================================================\
.log2{
    flex-direction: row-reverse;
}

// =====================================================Animation
@keyframes apear {
    0%   {
        margin-bottom: 40px;
        opacity: 0;
    }
    100% {
        margin-bottom: 20px;
        opacity: 1;
    }
  }
