.CreateCont{
    animation-name: apear;
    animation-duration: 0.3s;
    margin: 20px;
    width: 70vw;
    min-height: 60vh;
    background-color: map-get($map: $colors, $key: 'bgBlur');
    border-radius: 40px;
    padding: 40px;
    @include flex(column, normal, space-between, normal, wrap)
}
.inputsContainerCreateUser{
    @include flex(row, center, space-between, center, wrap)
}
.sectionInputCreateUser{
    width: 47%;
    height: 320px;
    @include flex(column, stretch, space-between, stretch, wrap);
    margin: 20px 0px;
}