.revers {
    flex-direction: row-reverse;
}

@media (max-width: 1260px) {
    .mainTitle {
        margin-top: 0px;
        line-height: normal;
    }

    .img2,
    .img3 {
        display: none;
    }

    .img1 {
        width: 200px;
    }

    .Content {
        width: 95%;
    }

    // .toTop,
    // .chatContainer {
    //     animation: none;
    //     width: 90%;
    //     margin: 5%;
    // }

    .msgCont {
        height: 80%;
    }

    .toTop {
        height: fit-content;

        & .bannerPlusCopyContainer {
            animation: none;
            width: 90%;
            padding: 5%;
            margin-top: 60px;
        }
    }


    .Log {
        width: 100%;
    }

    .allFormCont {
        padding: 20px;

        & .MessageInput {
            width: 50%;
        }
    }

    .spChatChanges {
        width: 100%;
        margin: 70px 2.5% 0px 2.5%;
    }

    .oneH {
        height: 93%;
    }

    .msgContEvt {
        padding: 0px;
    }
}



@media (max-width: 1000px) {
    .leaderboardCont {
        width: 85vw;
        left: 5vw;
    }

    .BlurBack {
        background-color: map-get($map: $colors, $key: 'bgBlackToMobile');
    }

    .mainTitle {
        font-size: 70px;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: normal;
    }

    .pasd {
        width: 100%;
        padding: 20px;
        margin-top: 70px;
    }

    .msgCont {
        padding: 10PX;
        // height: 80vh;
    }

    .spChatChanges {
        background-color: rgba(255, 255, 255, 0);
        margin: 0px;
        bottom: 0px;
        position: fixed;
    }

    .ImgChanger {
        & div {
            width: 100%;
        }

        width: 100%;
        // margin-top: 90px;
    }

    .msgCont .messCont {
        max-height: 100%;
    }

    .specialAllForm {
        position: fixed;
        border-radius: 0px;
        padding: 10px;
        padding-top: 5;
        // height: fit-content;
        background-color: map-get($map: $colors, $key: 'bgBlack');
        bottom: 0px;
    }

    .logInButton {
        &:disabled {
            background-color: map-get($map: $colors, $key: 'complement1Disa');
        }
    }

    .spChatChanges {
        height: 90%;
    }

    .loadingCont {
        position: absolute;
        left: 0px;
        margin: 5%;
        width: 90%;
        padding: 0px;
    }

    .mar0 {
        margin: 0px;
    }

    .logoLogin {
        display: none;
    }

    .LoadingAndFormCont {
        width: 90vw;

        & .formLogin {

            width: 100%;
            padding: 0%;
            margin: 0px;
        }
    }

    .clublistjoinCont {
        margin-top: 0px;
        animation: none;
        width: 100%;
        padding: 10px;
    }

    .joinSelection {
        margin-top: 70px;
    }

    .pasd {
        margin-top: 70px;
    }

    .gardesTableContainer {
        width: 85%;
        margin: 2.5% 0%;
        // padding: 2.5% 0%;
        padding: 5%;
    }

    .cardOfJoinList {
        border: none;
        border-radius: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid map-get($map: $colors, $key: 'complement1');
    }

    .formLogin {
        animation: none;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        padding: 0px;

        margin: 0px;
    }

    .eventAllCont {
        width: 90%;
        // margin: 20px;
    }

    .bannerPlusCopyContainer {
        display: none;
    }

    .chatContainerEvt {
        width: 90vw;
        margin: 0px;
    }

    .msgContEvt {
        padding: 0px;
    }

    .allCalendarCont {
        flex-direction: column-reverse;
    }

    .eventDescripCont {
        margin-top: 20px;
        width: 90%;
    }

    .scheduleContainer {
        animation-duration: 0s;
        margin-top: 100px;
        width: 90%;
        padding: 0px;
        background-color: rgba(250, 235, 215, 0);
        border-radius: 0px;
    }



    .rbc-toolbar {
        flex-direction: column;
    }

    .rbc-toolbar-label {
        margin: 10px;
    }

    .rbc-month-view {
        border: 1px solid map-get($map: $colors, $key: 'complement1');
        border-radius: 5px;
    }

    .contForFilesCHa {
        margin-top: -100%;
    }
}

@media (max-width: 900px) {
    .contContiner {
        margin: 40px 0px;
        height: auto;
    }

    .Content {
        // margin: 400px 0px;

        height: auto;
        grid-template-rows: repeat(3, 33%);
        grid-template-columns: repeat(3, 33%);
        grid-template-areas:
            "p1 p1 img8"
            "img7 colImg img8"
            "img7 p2 p2";
    }


    .CreateCont {
        margin-top: 80px;
        height: auto;
        width: 100%;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .formRecover1 {
        width: 100%;
    }

    .inputsContainerCreateUser {
        flex-direction: column;

        & .sectionInputCreateUser {
            width: 100%;
        }
    }

    .formChangePass {
        width: 100%;
    }


}

@media (max-width: 700px) {
    .cardSurvey {
        width: 90%;
    }

    .sureSection {
        width: 200px;

        & .especialButtonSure {
            margin-top: 10px;
            width: 100%;
        }

    }

    .formAddEv,
    .fullVisionEvt {
        width: 80%;

        & .rowInForm {
            flex-direction: column;

            & .sectionAddEv {
                width: 100%;
            }
        }
    }

    .myImage {
        margin-bottom: 20px;
    }

    .inputsConter {
        flex-direction: column;
        height: auto;
        width: 100%;

        & .sec {
            width: 100%;
        }
    }

    .clubListHomeContainer {
        align-content: center;
        flex-direction: column;
        justify-content: center;
        top: 60px;
        gap: 10px;
    }

    .clubCard {
        animation-name: none;
        width: 90%;
        margin: 20px 0px;
    }
}

@media (max-width: 500px) {
    .titlePlubBAnnerConrt {
        flex-direction: column;
        align-items: stretch;

        & div {
            margin-top: 10px;
            width: 100%;
        }
    }

    #myImaasdge {
        width: 100%;
    }

    .contContiner {
        height: fit-content;
    }

    .img8,
    .img7,
    .p1,
    .p2 {
        margin: 20px 0px;
        width: 100%;
        justify-self: center;
        align-self: center;
    }

    .img8,
    .img7 {
        height: 200px;
    }

    .Content {
        height: auto;
        grid-template-rows: repeat(9, auto);
        grid-template-columns: 100%;
        grid-template-areas:
            "p1"
            "img8"
            "colImg"
            "p2"
            "img7";
    }

    .logoCenter {
        margin: 50px 0px;
    }

    .inputIdentify {
        flex-direction: column;

        & div {
            margin: 0px;
        }
    }
}

@media (max-width: 340px) {
    .mainTitle {
        font-size: 50px;
    }
}